.job-post {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .green-button {
    background-color: #58CC02; /* Green */
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}


.gray-button {
  background-color: #e5e5e5;
  padding: 2px 4px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.sczg-image {
  width: 100%; /* Make the image fill its container */
  height: 100%; /* Make the image fill its container */
}



.sczg-image-container {
  width: 30px; /* Set a fixed width */
  height: 30px; /* Set a fixed height */
  display: flex; /* Use flexbox */
  align-items: flex-start; /* Align items to the start (top) */
}


